* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}
body {
  font-family: sans-serif;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
  background-color: #ea1538;
  transform-origin: 50%;
  z-index: 15;
}
