* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 205, 1) 91%
  );
  transform-origin: 0%;
  z-index: 15;
}
